{% extends 'base.html.twig' %}

{% block title %}Mon CV{% endblock %}

{% block body %}
<div class="container my-5 text-light">

    <h1 class="text-center mb-4">Mon CV</h1>

    <iframe
        src="/pdf/cv_NKENE_NZAME_Djust_Esther.pdf.pdf"
        width="100%"
        height="650"
        style="border: 2px solid #6f42c1; border-radius: 10px;">
    </iframe>

    <div class="text-center mt-4">
        <a href="/pdf/cv_NKENE_NZAME_Djust_Esther.pdf.pdf"
           download
           class="violet-btn btn-lg">
            Télécharger mon CV
        </a>
    </div>

</div>
{% endblock %}
