{% block body %}
<div class="row g-4">

    <div class="col-md-6">
        <div class="card bg-secondary text-light h-100">
            <div class="card-body text-center">

                <img src="{{ asset('image/20250804_205237.jpg') }}"
                     alt="Photo de profil"
                     class="rounded-circle mb-3"
                     width="140">

                <h2>Nkene Nzame Djust Esther</h2>
                <p class="text-info">Étudiante en BUT Réseaux et Télécommunications .</p>

                <p>
                    Je suis étudiante en première année de BUT Réseaux et Télécommunications.
                </p>
                <p>
                    Qui aime beaucoup de choses.
                </p>

                <a href="{{ path('app_cv') }}" class="btn btn-info">
                    Voir mon CV
                </a>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-secondary text-light h-100">
            <div class="card-body">
                <h2>Mes études</h2>
                <p>Je suis actuellement en formation en BUT Réseaux et Télécommunications.</p>
                <p>Cette formation me permet d’acquérir des compétences techniques solides en réseau.</p>
                <a href="#" class="btn btn-info">Découvrir mon parcours</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
