{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ 'Your Name'|upper }}{% endblock %}

{% block body %}
<div class="hero">
    <h1 style="font-size: 5em; margin: 0;">{{ 'Djust Esther NKENE NZAME'|upper }}</h1>
    <p style="font-size: 1.5em; margin: 20px 0;">Bienvenue dans mon monde</p>
    <a href="{{ path('plan') }}" class="btn-plan">🚀 DÉCOUVRIR MON PLAN</a>
</div>
{% endblock %}
