{% extends 'base.html.twig' %}

{% block title %}Mes hobbies{% endblock %}

{% block body %}
<div class="container my-5 text-light">

    <h1 class="text-center mb-5">Mes hobbies</h1>

    <div class="row g-4">

        <div class="col-md-6 col-lg-3">
            <div class="card hobby-card text-center h-100">
                <img src="{{ asset('image/natation.jpg') }}" class="card-img-top" alt="Natation">
                <div class="card-body">
                    <h5 class="card-title">Natation</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card hobby-card text-center h-100">
                <img src="{{ asset('image/netflix.jpg') }}" class="card-img-top" alt="Netflix">
                <div class="card-body">
                    <h5 class="card-title">Regarder Netflix</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card hobby-card text-center h-100">
                <img src="{{ asset('image/lecture.jpg') }}" class="card-img-top" alt="Lecture">
                <div class="card-body">
                    <h5 class="card-title">Lire</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card hobby-card text-center h-100">
                <img src="{{ asset('image/manger.jpg') }}" class="card-img-top" alt="Manger">
                <div class="card-body">
                    <h5 class="card-title">Manger</h5>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
